@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome IKnowTechnology CaseApp</h1>

    <h3>
        <a href="https://www.iknow.com.tr/tr/">IKnowTechnology </a>
    </h3>
    
</div>
